{{#each post}}
    <form>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Comment Title">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Comment">
    </div>
  </div>
</form>
{{/each}}