{{#if loggedIn}}
<section class="dashboard">
  <div class="dashboard-details">
    <h3>{{BlogPost.title}}</h3>
    <p>Date: {{format_date}}</p>
  </div>
</section>
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}